body{
    background-color: rgb(69, 190, 107)
}


.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25vh;
}


.rd {
    display: flex;
}


.bx2 {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px 8px;
}